@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/static-assets/default/fonts/public-sans/PublicSans-Regular.woff2)
    format("woff2");
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/static-assets/default/fonts/public-sans/PublicSans-SemiBold.woff2)
    format("woff2");
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/static-assets/default/fonts/public-sans/PublicSans-Bold.woff2)
    format("woff2");
}
