.header{
     background-color: aqua;
     align-items: center;
     display: grid;
     text-align: center;
}

body {
     background: gray;
}


.h1 {
     display: table-cell;
     align-content: center;
     text-align: center;
     text-decoration: double;
     background: #0dcbe4;
 }


.grid-char img {
     /* Opcionalmente, puedes agregar estilos para cada elemento li aquí */
     border-style:groove;
     border-color: rgb(202, 23, 23);
     
   }
.img-per {
     margin: 15px;
     align-items: center;
     align-self: center;
     image-orientation:flip;
}
 
.dat-per{
     background: green;
     align-items: center;
     align-self: center;
     text-align: center;
     text-decoration-color: rgb(238, 255, 0);
     -moz-text-decoration-color: rgb(238, 255, 0);
}
.cat-card-grid {
     display: grid;
     grid-template-columns: repeat(5, 1fr); /* 3 columnas con el mismo tamaño */
     gap: 20px; /* Espacio entre las celdas */
     background-color: #1c920c;     
   }
   
   .cat-card-grid li {
     /* Opcionalmente, puedes agregar estilos para cada elemento li aquí */
     border-style:dotted;
     border-color: black;
     background-color: #470734;
     
}
   
.cat-card-map{
     margin: 2px;
     max-width: 5px;
}

.grid-container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
     gap: 20px;
     margin: 20px;
   }
   
.grid-item {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
   }
   
.grid-item img {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     margin-bottom: 10px;
   }
   
.a {
     text-decoration: none;
     color: #261564;
   }

.ttl-hm{
     background: #12e4af;
}