header {
    background-color: aqua;
}

.img-per {
    display: center;
    align-self: center;
}
.col-md {
    display: grid;
    align-items: start;
}
.bdy {
    background: rgb(41, 206, 49);
    border-width: 5px;
    border-color: blueviolet;
}


.h1 {
    display: grid;
    align-items: center;
    text-align: center;
    text-decoration: double;
    background: #0dcbe4;
}
.btns{
    background-color: cornflowerblue;
    background: chocolate;
    align-content: center;
    align-items: center;
}
.btnm{
    background: rgb(219, 125, 57);
}

.btncat{
    background: rgb(231, 187, 155);
}

.btndog {
    background: rgb(141, 76, 30);
}

.btnmrvl{
    background: rgb(20, 172, 78);
}

.ftr{
    background: green;
}